* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-panel-main-container {
    background-color: #f5f7f8;
    height: 100vh;
}

.shopgold-amppolska-main-container, .shopgold-fhsahs-main-container, .shopgold-kellys-main-container {
    display: flex;
    justify-content: space-between;
    width: 1522px;
    margin: 0 auto;
    margin-top: 30px;
}
